.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.shadow-xl {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.transition {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.transform:hover {
  transform: translateY(-4px);
}

iframe {
  border: none;
}